body{
  background-image: linear-gradient(to right,#6d8af5,rgb(245, 177, 114),rgb(15, 151, 15) );
}

.container{
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  margin: 10% 22% 0% 29%;
  width: 40%;
  padding: 35px 35px;
  background-color: white;
  box-shadow: 3px 3px 5px 5px rgba(92, 15, 15, 0.725);
  border-radius: 25px;

}

.container #myh1{
  color: rgb(156, 156, 38);
  font-family: verdana;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}

#result{
  color: black;
  font-family: verdana;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.container input{
  height: 25px;
  width: 50%;
  font-size: 15px;
  color: black;
  border-radius: 5px;
}
.container label{
  font-size: 20px;
}

.container #submit{
  margin-top: 5%;
  font-size: 20px;
  background-color: hsl(215, 89%, 59%);
  color: white;
  width: 25%;
  border-radius: 5px;
}
.container #submit:hover{
  background-color:hsl(215, 74%, 32%) ;
}
.container #submit:active{
  background-color:hsl(215, 52%, 79%) ;
}


@media (min-width: 340px) {
 #myh1{
  font-size: 15px;
 }
 .container input{
   width: 40%;
  font-size: 12px;
 }
 .container #submit{
   width: 35%;
   font-size: 13px;
 }
}
@media (min-width: 600px) {
 #myh1{
  font-size: 15px;
 }
  .container input{
   width: 43%;
  font-size: 13px;
 }
 .container #submit{
   width: 35%;
   font-size: 15px;
 }

}

@media (min-width: 768px) {
  
}